@import "tailwindcss";

@theme {

  --color-bgLight: #FFFFFF;
  --color-textLight: #271916;
  --color-accent1Light: #FF6F47;
  --color-accent1LightHover: #D95C3E;
  --color-accent2Light: #DAA520;
  --color-accent2LightHover: #B88D1D;
  --color-bgGray: #E9E8E7;
  --color-accentRed: #E33614;
  --color-accentGreen: #0E9F85;
  --color-accentBlue: #63CEDA;
  --color-hoverLight: #FF4500;
  --color-accent3Light: #47FF6F; /* Neon green */
  --color-accent4Light: #FF47D7; /* Neon pink */
  --color-accent5Light: #47D7FF; /* Cyan blue */
  --color-accent6Light: #8A2BE2; /* Purple */
  --color-accent3Pastel: #99FFCC; /* Pastel Neon Green */
  --color-accent4Pastel: #FF99FF; /* Pastel Neon Pink */
  --color-accent5Pastel: #99FFFF; /* Pastel Cyan Blue */
  --color-accent6Pastel: #CBA3F5; /* Pastel Purple */
  --color-buttonRetro: #FFD700; /* Bright yellow buttons */

}

.range-thumb-hidden::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.range-thumb-hidden::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.range-thumb-hidden::-ms-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
