@import "tailwindcss";

@theme {

  --color-bgLight: #FFFFFF;
  --color-textLight: #271916;
  --color-accent1Light: #FF6F47;
  --color-accent1LightHover: #D95C3E;
  --color-accent2Light: #DAA520;
  --color-accent2LightHover: #B88D1D;
  --color-bgGray: #E9E8E7;
  --color-accentRed: #E33614;
  --color-accentGreen: #0E9F85;
  --color-accentBlue: #63CEDA;
  --color-hoverLight: #FF4500;
  --color-accent3Light: #00FF7F; /* Neon green */
  --color-accent4Light: #FF00FF; /* Neon pink */
  --color-accent5Light: #00FFFF; /* Cyan blue */
  --color-borderRetro: #8A2BE2; /* Electric blue for borders */
  --color-buttonRetro: #FFD700; /* Bright yellow buttons */

}

body {
  font-family: Arial, Helvetica, sans-serif;
}
